@media (max-width: 1200px)
    .weiterlesen
        &_container
            padding: 0 40px 0 40px
        &_subtitle
            font-size: 22px
            margin-top: 70px
            text-align: left
            margin-left: 22px
        &_text
            font-size: 18px
            margin-left: 22px
            margin-right: 25px
            text-align: left
            line-height: 19px
        &_btn
            font-size: 22px
            width: 150px
            height: 50px
            margin-left: 20px
            border: 3px solid #D6B46F
            &:hover
                border: 3px solid #000

    .horizon_divider
        min-height: 180px
        img
            width: 7%
    .webinar
        &_descr
            height: 480px
        &_title 
            font-size: 40px
            margin-top: 80px
        &_subtitle 
            font-size: 30px
            margin-top: 46px
        &_text 
            font-size: 20px
            margin-top: 35px
        &_btn 
            font-size: 20px
            margin-top: 50px
            width: 150px
            height: 50px
            background: #D6B46F
        
    .produkte
        min-height: 730px
        &_title
            font-size: 40px
            margin-top: 80px
        &_item 
            padding: 45px 20px 35px 30px
        .text_block
            text-align: center
            width: 100%
            padding-right: 50px
            .subtitle 
                font-size: 24px
                line-height: 28px
            .text 
                font-size: 18px
                margin-top: 10px
                line-height: 20px

@media (max-width: 991px)
    .weiterlesen
        &_container
            padding: 0 20px 0 20px
            &_item1, &_item2, &_item3
                width: 32%
        &_subtitle
            font-size: 20px
            margin-top: 70px
            margin-left: 20px
        &_text
            font-size: 17px
            margin-left: 20px
            margin-right: 20px
            line-height: 18px
        &_btn
            font-size: 20px
            width: 140px
            height: 45px
            margin-left: 20px
            border: 3px solid #D6B46F
            &:hover
                border: 3px solid #000

    .horizon_divider
        min-height: 150px
        img
            width: 9%
    .webinar
        &_descr
            height: 450px
        &_subtitle 
            font-size: 26px
            margin-top: 46px
        &_text 
            font-size: 18px
            margin-top: 35px
        &_btn 
            width: 150px
            height: 50px
    .produkte
        min-height: 730px
        &_title
            font-size: 36px
            margin-top: 80px
        
        &_item 
            flex-direction: column
            &_1, &_2, &_3
                width: 100%
                display: flex
                justify-content: space-between
                align-items: center
                margin-bottom: 20px
                img
                    width: 40%
            .vert_line
                display: none
        .subtitle 
            font-size: 24px
            line-height: 28px
        .text 
            font-size: 18px
            margin-top: 10px
            padding-right: 15px
            line-height: 20px
        .text_block
            text-align: left
            width: 55%

@media (max-width: 767px)
    .weiterlesen
        &_container
            min-height: 1000px
            flex-direction: column
            align-items: center
            justify-content: space-between
            &_item1, &_item2, &_item3
                position: relative
                display: block
                min-height: 400px
                width: 90%
                margin-top: 100px
        &_subtitle
            font-size: 36px
            margin-top: 50px
            margin-left: 20px
        &_text
            font-size: 20px
            margin-left: 20px
            margin-right: 20px
            line-height: 28px
        &_btn
            display: block
            font-size: 20px
            width: 140px
            height: 45px
            margin-left: 20px
            border: 3px solid #D6B46F
            &:hover
                border: 3px solid #000


    .horizon_divider
        min-height: 120px
        img
            width: 10%
    .webinar
        &_title
            font-size: 36px
            margin-top: 60px
        &_descr
            height: 420px
        &_subtitle 
            font-size: 22px
            margin-top: 46px
        &_text 
            margin-top: 25px
        &_btn 
            font-size: 18px
            width: 130px
            height: 50px
    .produkte
        min-height: 730px
        &_title
            font-size: 30px
            margin-top: 50px
            &_item 
                display: flex
                justify-content: center
                text-align: center
                flex-direction: column
                &_1, &_2, &_3
                    width: 100%
                    display: flex
                    justify-content: center
                    flex-direction: column
                    align-items: center
                    img
                        width: 30%
            .subtitle 
                font-size: 20px
                line-height: 22px
            .text 
                font-size: 14px
                margin-top: 10px
                line-height: 19px
            .text_block
                text-align: left
                width: 80%
                margin-top: 20px
                margin-left: -100px
            
@media (max-width: 575px)
    .slideshow
        display: none

    .slideshow_small
        display: block


        
    .weiterlesen
        &_container
            min-height: 1000px
            padding: 0
            &_item1, &_item2, &_item3
                display: block
                min-height: 400px
                width: 90%
        &_subtitle
            font-size: 24px
            margin-top: 40px
            text-align: center
        &_text
            font-size: 16px
            line-height: 18px
            text-align: center
            
        &_btn
            display: block
            font-size: 20px
            width: 140px
            height: 45px
            margin-left: 20px
            border: 2px solid #D6B46F
            &:hover
                border: 2px solid #000
    .horizon_divider
        min-height: 90px
        img
            width: 12%
    .webinar
        &_title
            font-size: 30px
            margin-top: 40px
        &_descr
            height: 400px
        &_subtitle 
            font-size: 20px
            margin-top: 30px
        &_text 
            margin-top: 25px
            font-size: 16px
        &_btn 
            font-size: 16px
            width: 120px
            height: 45px
    .produkte
        min-height: 730px
        &_title
            font-size: 30px
            margin-top: 30px
        &_item 
            display: flex
            justify-content: center
            text-align: center
            flex-direction: column
            &_1, &_2, &_3
                width: 100%
                display: flex
                justify-content: center
                flex-direction: column
                margin-top: 30px
        .subtitle 
            font-size: 20px
            line-height: 18px
        .text 
            font-size: 14px
            margin-top: 10px
            line-height: 17px
        .text_block
            text-align: center
            width: 100%
            margin-top: 10px
            margin-left: 75px
          